// aii Colors
$aii-primary: #00684A;
$aii-secondary: #E8FFD7;
$aii-grey: #686D76;
$aii-dark-grey: #012b1e;
$aii-medium-grey: #5f6368;
$aii-light-grey: #9ca3af;
$aii-white-grey: #f2f2f2;
$aii-grey-2: #D2D2D2;
$aii-grey-3: #E7E7E7;
$aii-grey-4: #D9D9D9;
$aii-white: #FFFFFF;
$aii-black: #000000;
$aii-light: #f8f9fa;

// aii Font Family
$aii-poppins-regular: 'Poppins-Regular', sans-serif;
$aii-poppins-semibold: 'Poppins-SemiBold', sans-serif;
$aii-poppins-bold: 'Poppins-Bold', sans-serif;