<section class="about-section py-5 aii-bg-light">
  <div class="container-boxed">
    <div class="text-center heading mb-5">
      <h2 class="mb-4 text-bottom-line position-relative poppins-semibold">
        About
      </h2>
    </div>

    <!-- <div class="row g-4 justify-content-center">
      <div class="col-12 col-sm-3">
        <div
          class="wrapper rounded-0 p-4 d-flex flex-column justify-content-center align-items-center aii-bg-white"
        >
          <h2 class="poppins-semibold">1</h2>
          <h3 class="fw-bold m-0 p-0 font-28 aii-dark-grey">Day</h3>
        </div>
      </div>

      <div class="col-12 col-sm-3">
        <div
          class="wrapper rounded-0 p-4 d-flex flex-column justify-content-center align-items-center aii-bg-white"
        >
          <h2 class="poppins-semibold">10</h2>
          <h3 class="fw-bold m-0 p-0 font-28 aii-dark-grey">Speakers</h3>
        </div>
      </div>

      <div class="col-12 col-sm-3">
        <div
          class="wrapper rounded-0 p-4 d-flex flex-column justify-content-center align-items-center aii-bg-white"
        >
          <h2 class="poppins-semibold">10</h2>
          <h3 class="fw-bold m-0 p-0 font-28 aii-dark-grey">Talks</h3>
        </div>
      </div>

      <div class="col-12 col-sm-3">
        <div
          class="wrapper rounded-0 p-4 d-flex flex-column justify-content-center align-items-center aii-bg-white"
        >
          <h2 class="poppins-semibold">300+</h2>
          <h3 class="fw-bold m-0 p-0 font-28 aii-dark-grey">Delegates</h3>
        </div>
      </div>
    </div> -->

    <div class="ai-topic-grid">
      <div class="ai-topic-card card-1">
        <h3 class="ai-topic-title">1</h3>
        <div>Day</div>
      </div>

      <div class="ai-topic-card card-2">
        <h3 class="ai-topic-title">10</h3>
        <div>Speakers</div>
      </div>

      <div class="ai-topic-card card-3">
        <h3 class="ai-topic-title">10</h3>
        <div>Talks</div>
      </div>

      <div class="ai-topic-card card-4">
        <h3 class="ai-topic-title">300+</h3>
        <div>Delegates</div>
      </div>

      <!-- <div class="ai-topic-card card-5">
        <h3 class="ai-topic-title">The future of work</h3>
        <div>
          How can startups and enterprises reskill India’s workforce for an
          AI-driven future?
        </div>
      </div>

      <div class="ai-topic-card card-6">
        <h3 class="ai-topic-title">Startups 2030: Building for the future</h3>
        <div>
          What will change in building startups of the future? How can founders
          keep up with the rapid evolution in the AI space?
        </div>
      </div>

      <div class="ai-topic-card card-7">
        <h3 class="ai-topic-title">Democratising AI with open platforms</h3>
        <div>
          How can open AI platforms foster innovation at the grassroots level?
        </div>
      </div>

      <div class="ai-topic-card card-8">
        <h3 class="ai-topic-title">Agentic AI</h3>
        <div>
          Explore how Agentic AI systems are transitioning from mere tools to
          autonomous agents capable of self-directed action.
        </div>
      </div>

      <div class="ai-topic-card card-9">
        <h3 class="ai-topic-title">AGI: Mirage or milestone?</h3>
        <div>
          Evaluate the progress and challenges in achieving Artificial General
          Intelligence and the role of India’s research and talent in pushing
          boundaries toward AGI.
        </div>
      </div>

      <div class="ai-topic-card card-10">
        <h3 class="ai-topic-title">Foundational models vs wrappers</h3>
        <div>
          Should India focus on building foundational AI models or innovating
          through application-layer wrappers?
        </div>
      </div>

      <div class="ai-topic-card card-11">
        <h3 class="ai-topic-title">AI in education</h3>
        <div>
          Personalising learning experiences and adapting to individual student
          needs for maximum comprehension and retention.
        </div>
      </div> -->
    </div>
  </div>
</section>
