@use "../../styles/variables" as *;

.wrapper {
    box-shadow: rgba($aii-primary, 0.24) 0px 3px 8px;
    border: 2px solid $aii-primary;
}

.ai-topic-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 16px;
    max-width: 1100px;
    width: 100%;
    margin: 300px auto 50px;

    .ai-topic-card {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 450px;
        padding: 55px 50px;
        font-family: "Sf Pro Display 1", Arial, sans-serif;
        font-size: 40px;
        font-weight: 300;
        line-height: 1.1em;
        background-color: #fcd628;
        color: var(--black);
        z-index: 1;

        .ai-topic-title {
            font-family: "Sf Pro Text", Arial, sans-serif;
            font-size: 90px;
            font-weight: 900;
            line-height: 1;
            letter-spacing: -0.07em;
            text-transform: uppercase;
        }

        &.card-1 {
            margin-left: 22px;
            margin-right: -22px;
            transform: rotate(-11deg);
            z-index: 111;
        }

        &.card-2 {
            background-color: #b82623;
            color: $aii-white;
            margin-top: -190px;
            transform: rotate(8deg);
        }

        &.card-3 {
            background-color: #5b7747;
            color: $aii-white;
            margin-top: -94px;
            margin-left: 38px;
            margin-right: -38px;
            transform: rotate(-6.5deg);
            z-index: 115;
        }

        &.card-4 {
            background-color: #e3bbe1;
            margin-top: -222px;
            margin-left: 2px;
            transform: rotate(6.5deg);
            z-index: 114;
        }

        &.card-5 {
            background-color: #76fa95;
            margin-top: -80px;
            margin-left: 70px;
            margin-right: -70px;
            padding-right: 120px;
            transform: rotate(-18.1deg);
            z-index: 117;
        }

        // &.card-6 {
        //     background-color: #065b2f;
        //     color: $aii-white;
        //     margin-top: -196px;
        //     transform: rotate(12.7deg);
        //     z-index: 119;
        // }

        // &.card-7 {
        //     background-color: #f8aca3;
        //     margin-top: -154px;
        //     margin-left: 130px;
        //     margin-right: -129px;
        //     transform: rotate(-12deg);
        //     z-index: 120;
        // }

        // &.card-8 {
        //     background-color: #76fa95;
        //     margin-top: -159px;
        //     margin-left: 66px;
        //     margin-right: -66px;
        //     font-weight: 400;
        //     transform: rotate(8deg);
        //     z-index: 121;
        // }

        // &.card-9 {
        //     background-color: #5b7747;
        //     color: $aii-white;
        //     margin-top: -73px;
        //     margin-left: 50px;
        //     margin-right: -50px;
        //     transform: rotate(-6.03deg);
        //     z-index: 122;
        // }

        // &.card-10 {
        //     background-color: #faf159;
        //     margin-top: -77px;
        //     z-index: 123;
        // }

        // &.card-11 {
        //     background-color: #b82623;
        //     color: $aii-white;
        //     margin-top: -75px;
        //     margin-left: 74px;
        //     margin-right: -74px;
        //     transform: rotate(-13.5deg);
        //     z-index: 122;
        // }
    }
}