.logo {
    width: 300px;
    height: auto;
}

.copyright {
    border-top: .5px solid #ccc;
}

:host-context(body.theme-dark) {
    :host {
        background: #020617;
        color: #e5e7eb;
    }

    .copyright {
        border-top-color: rgba(31, 41, 55, 0.9);
    }
}