@use "../../styles/variables" as *;

.hero-section {
    .hero-text {
        h1 {
            font-size: 90px;
        }

        sup {
            top: -50px;
            right: 10px;
        }
    }

    .hero-image {
        max-width: 200px;
        animation: float-up-down 4s ease-in-out infinite;
        transform-origin: center;
    }

}

@keyframes float-up-down {
    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}