@use "../../styles/variables" as *;

.sponsors-section {
    .client-logo {
        border: 1px solid color-mix(in srgb, $aii-dark-grey, transparent 85%);

        figure {
            //width: 230px;
            height: 200px;

            img {
                transition: 0.3s;
            }

            &:hover img {
                transform: scale(1.1);
            }
        }
    }

    .sponsor-type {
        top: 10px;
        right: 10px;
    }

    .bronze-text {
        color: #813e00;
    }

    .silver-text {
        color: #8c8c8c;
    }

    .gold-text {
        color: #ffb300;
    }

}