<app-hero />

<app-about id="about" />

<app-speakers id="speakers" />

<app-agenda id="agenda" />

<app-sponsors id="sponsors" />

<app-pricing id="pricing" />

<app-venue id="venue" />

<section class="coc-section py-5 aii-bg-light" id="coc">
  <div class="container-boxed">
    <div class="text-center heading mb-5">
      <h2 class="mb-4 text-bottom-line position-relative poppins-semibold">
        Call for Papers
      </h2>
    </div>

    <article class="font-14 font-md-16 font-lg-18 aii-dark-grey">
     Your talk should focus on the development, deployment, and security aspects of LLMs, agents, tools, and related technologies. Each session should include code examples, real-world use cases, and practical demonstrations wherever possible.
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSdZvRKIeJ0x6tjQuPjCBHFNjiRNAhs7_zyqL9zJdPM63fH4XA/viewform?usp=sharing&ouid=106397895410829169310" class="aii-primary">Submit Your Talk Here</a>
    </article>
  </div>
</section>
