<app-hero />

<app-about id="about" />

<app-speakers id="speakers" />

<app-agenda id="agenda" />

<app-sponsors id="sponsors" />

<app-pricing id="pricing" />

<app-venue id="venue" />

<section class="coc-section py-5 aii-bg-light" id="coc">
  <div class="container-boxed">
    <div class="text-center heading mb-5">
      <h2 class="mb-4 text-bottom-line position-relative poppins-semibold">
        Call for Papers
      </h2>
    </div>

    <article class="font-14 font-md-16 font-lg-18 aii-dark-grey">
      We want to provide a harassment-free conference experience for everyone,
      regardless of gender, gender identity and expression, sexual orientation,
      disability, physical appearance, body size, race, age, religion or lack
      thereof. We do not tolerate harassment of conference participants in any
      form.
      <a routerLink="/coc" class="aii-primary">Read More</a>
    </article>
  </div>
</section>
