<section class="pricing-section py-5 aii-bg-light">
  <div class="container-boxed">
    <div class="text-center heading mb-5">
      <h2 class="mb-4 text-bottom-line position-relative poppins-semibold">
        Pricing
      </h2>
    </div>

    <div class="row g-4 align-items-stretch justify-content-center mt-3">
      <div class="col-md-4 d-grid align-items-stretch">
        <div class="pricing-table">
          <div class="text-center">
            <h2
              class="aii-primary font-32 text-uppercase poppins-semibold border-bottom pb-3"
            >
              Early Bird
            </h2>

            <h2
              class="font-18 text-uppercase fw-semibold my-4 poppins-semibold aii-medium-grey"
            >
              100 Tickets
            </h2>

            <span class="price d-block mb-3">
              <sup class="aii-medium-grey">₹</sup>
              <span class="number aii-primary poppins-semibold">3500</span
              ><sub class="aii-medium-grey">+18% GST</sub>
            </span>

            <ul class="pricing-text mb-5">
              <li class="aii-medium-grey mb-4">
                Access to 1 day conference on April 12
              </li>
              <li class="aii-medium-grey mb-4">Certificate</li>
              <li class="aii-medium-grey mb-4">Tea | Coffee | Lunch</li>
              <li class="aii-medium-grey mb-4">Goodies</li>
            </ul>

            <!-- <a href="#" class="aii-btn-primary h-auto px-2 py-3">Buy Ticket</a> -->
            <a
              href="https://www.townscript.com/v2/e/ngindia-2025-031141/booking/tickets"
              target="_blank"
              class="aii-btn-primary h-auto px-2 py-3"
              >Buy</a
            >
          </div>
        </div>
      </div>

      <div class="col-md-4 d-grid align-items-stretch">
        <div class="pricing-table">
          <div class="text-center">
            <h2
              class="aii-primary font-32 text-uppercase poppins-semibold border-bottom pb-3"
            >
              Regular
            </h2>

            <h2
              class="font-18 text-uppercase fw-semibold my-4 poppins-semibold aii-medium-grey"
            >
              100 Tickets
            </h2>

            <span class="price d-block mb-3">
              <sup class="aii-medium-grey">₹</sup>
              <span class="number aii-primary poppins-semibold">5500</span
              ><sub class="aii-medium-grey">+18% GST</sub>
            </span>

            <ul class="pricing-text mb-5">
              <li class="aii-medium-grey mb-4">
                Access to 1 day conference on April 12
              </li>
              <li class="aii-medium-grey mb-4">Certificate</li>
              <li class="aii-medium-grey mb-4">Tea | Coffee | Lunch</li>
              <li class="aii-medium-grey mb-4">Goodies</li>
            </ul>

            <!-- <a href="#" class="aii-btn-primary h-auto px-2 py-3">Buy Ticket</a> -->
            <a
              href="https://www.townscript.com/v2/e/ngindia-2025-031141/booking/tickets"
              target="_blank"
              class="aii-btn-primary h-auto px-2 py-3"
              >Buy</a
            >
          </div>
        </div>
      </div>

      <div class="col-md-4 d-grid align-items-stretch">
        <div class="pricing-table">
          <div class="text-center">
            <h2
              class="aii-primary font-32 text-uppercase poppins-semibold border-bottom pb-3"
            >
              Late
            </h2>

            <h2
              class="font-18 text-uppercase fw-semibold my-4 poppins-semibold aii-medium-grey"
            >
              100 Tickets
            </h2>

            <span class="price d-block mb-3">
              <sup class="aii-medium-grey">₹</sup>
              <span class="number aii-primary poppins-semibold">8000</span
              ><sub class="aii-medium-grey">+18% GST</sub>
            </span>

            <ul class="pricing-text mb-5">
              <li class="aii-medium-grey mb-4">
                Access to 1 day conference on April 12
              </li>
              <li class="aii-medium-grey mb-4">Certificate</li>
              <li class="aii-medium-grey mb-4">Tea | Coffee | Lunch</li>
              <li class="aii-medium-grey mb-4">Goodies</li>
            </ul>

            <a
              href="https://www.townscript.com/v2/e/ngindia-2025-031141/booking/tickets"
              target="_blank"
              class="aii-btn-primary h-auto px-2 py-3"
              >Buy</a
            >
          </div>
        </div>
      </div>
    </div>

    <div
      class="error-label text-danger font-18 d-flex align-items-center justify-content-center mt-5 mb-0"
    >
      <i class="bi bi-exclamation-triangle-fill me-2"></i>
      <p class="aii-medium-grey font-family-inter m-0">
        Tickets once sold can’t be cancelled, transferred, or exchanged.
      </p>
    </div>
  </div>
</section>
